
* {
    margin: 0;
    padding: 0;
}

body {
    height: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.upper-bar1 {
    width: 100vw;
    height: 17px;
    overflow: hidden;
    background-color: #7077A1;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    font-weight: 200;
}

.upper-bar2 {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    width: 100%;
    max-width: 100vw;
    background-color: #161A30;
    color: #B6BBC4;
}

.company-name {
    margin-top: 1rem;
    font-size: x-large;
    color: white;
    background-color: #161A30;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 4rem;
}
#head1{
    color: whitesmoke;
    font-size: 42px;
    margin-left: 2vw;
    margin-top: 2vh;
    font-weight: bold;
}
.last-part {
    width: 100vw;
    height: auto;
    background-color: #161A30;
    display:flex;
    flex-direction: column;
  
}
.divider {
    border: 1px solid #ddd;
    margin: 20px 0;
}
ul{
    list-style: none;
}
.list p{
    color: whitesmoke;
}
.list{
    display:flex;
    justify-content: space-between;
   
    padding-top:2vh;
}
.list li{
    padding-top:10px;
}
.last-part a{
    color:#7077A1;
    text-decoration: none;
    cursor:default;
  
}
.copyright{
    margin-top: 2vh;
    color:whitesmoke;
    background-color:#424769;
    text-align: center;
    height: 7vh;
    padding-top: 1vh;
    margin-bottom: 3vh;
}




.space1 {
    width: 100vw;
    height: 2vh;
}

#block1 {
    width: 40vw;
    height: 10vh;
    background-color: #7077A1;
    position: absolute;
    top: 7vh;
    left: 5vw;
    z-index: 4;
}

.heading {
    position: relative;
    width: 100vw;
    height: 20vh;
}

#block2 {
    width: 40vw;
    height: 10vh;
    background-color: #424769;
    position: absolute;
    top: 10vh;
    left: 7vw;
    z-index: 2;
}





.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 10px; */
    /* padding: 20px; */
    height: auto;
}

.box {
    position: relative;
    width: 50vw;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 42vw;
    height: 47vh;
    position: relative;
}

.hidden {
    display: none;
    
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #7077A1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 45vh;
    left: 18vw;
}

button:hover {
    background-color: #424769;
}
#box2{
    right: 1vw;
    position: absolute;
}
.plane-img{
    position: absolute;
    right: 0;
    top: -2vh;
    transform: rotate(-5deg);
   z-index: 3;
}
